.page {
  padding: 64px 14px 0;
  font-family: Lato;
  background: var(--background);
}

.container {
  height: calc(100vh - 250px);
  width: 100%;
}

@media screen and (max-width: 600px) {
  .page {
    padding-top: 128px;
  }
}
