<div class="page">
    <div class="img-container">
        <img src="../../../assets/on-air.png" alt="On Air Logo">
    </div>
    <div class="text-container">
        <h1>Welcome to the Online National Assembly of ESN Germany</h1>
        <h2>More information to follow...</h2>
    </div>
    <div class="card-container">
        <!-- <mat-card class="card">
            <mat-card-header>
                Header
                <mat-card-title>CT</mat-card-title>
                <mat-card-subtitle>Main Chair</mat-card-subtitle>
            </mat-card-header>
        </mat-card> -->
        <div class="card">
            <h2>Chairing Team</h2>
            <p>Main Chair: Julius Gonsior</p>
            <p>Vice Chair: Duje Ercegović</p>
        </div>
        <div class="card">
            <h2>Speaker's List</h2>
            <p>Assistant: Jana Borchardt</p>
            <a [routerLink]="">How To Ask A Question</a>
        </div>
        <div class="card">
            <h2>Documents</h2>
            <a href="https://docs.google.com/document/d/15cLtdsX8e88KpUw5dUUYNlFM-YrGsHm_oyHT4Th8VXg/edit">SOS</a>
        </div>
    </div>
</div>
