<div class="page">
  <div class="text-container-p">
    <h1>Links</h1>
  </div>
  <div class="text-container">
    <mat-card class="mat-card-container">
      <mat-card-title-group>
        <mat-card-title>Vol. 3 Day 1 Stream</mat-card-title>
        <mat-card-subtitle>Youtube Live Stream</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content class="card-content">
        <div class="ct-container">
          <div class="center-img">
            <p class="center">
              <a
                href="https://www.youtube.com/watch?v=8fXmgWHLjBQ"
                target="_blank"
                class="link"
              >
                <img
                  class="ct-img"
                  src="../../assets/img/seasonsfinale-logo-sq.png"
                  alt="stream"
                />https://www.youtube.com/watch?v=8fX...
                <mat-icon class="icon">launch</mat-icon></a
              >
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-card-container">
      <mat-card-title-group>
        <mat-card-title>Vol. 3 Day 2 Stream</mat-card-title>
        <mat-card-subtitle>Youtube Live Stream</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content class="card-content">
        <div class="ct-container">
          <div class="center-img">
            <p class="center">
              <a
                href="https://www.youtube.com/watch?v=8fXmgWHLjBQ"
                target="_blank"
                class="link"
              >
                <img
                  class="ct-img"
                  src="../../assets/img/seasonsfinale-logo-sq.png"
                  alt="stream"
                />https://www.youtube.com/watch?v=8fX...
                <mat-icon class="icon">launch</mat-icon></a
              >
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-card-container">
      <mat-card-title-group>
        <mat-card-title>Speakers List Tool</mat-card-title>
        <mat-card-subtitle
          >Ask questions as a registered participant</mat-card-subtitle
        >
      </mat-card-title-group>
      <mat-card-content class="card-content">
        <div class="ct-container">
          <div class="center-img">
            <p class="center">
              <a
                href="https://esn-speakers.web.app/start"
                target="_blank"
                class="link"
              >
                <img
                  class="ct-img"
                  src="../../assets/img/speakerslist.png"
                  alt="Speakers List Tool"
                />
                https://esn-speakers.web.app/start
                <mat-icon class="icon">launch</mat-icon></a
              >
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-card-container">
      <mat-card-title-group>
        <mat-card-title>Vol. 3 Agenda</mat-card-title>
        <mat-card-subtitle>Official schedule</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content class="card-content">
        <div class="ct-container">
          <div class="center-img">
            <p class="center">
              <a
                href="https://docs.google.com/spreadsheets/u/1/d/1FdwFeTNmr-47KpY4hMvKBNqDMfgg88eEk9zb-crCDt0/edit#gid=1496817579"
                target="_blank"
                class="link"
                ><img
                  class="ct-img"
                  src="../../assets/img/agenda.png"
                  alt="agenda"
                />
                https://docs.google.com/spreadsheets/...
                <mat-icon class="icon">launch</mat-icon></a
              >
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-card-container">
      <mat-card-title-group>
        <mat-card-title>Gather Town</mat-card-title>
        <mat-card-subtitle
          >Social space for meeting other participants</mat-card-subtitle
        >
      </mat-card-title-group>
      <mat-card-content class="card-content">
        <div class="ct-container">
          <div class="center-img">
            <p class="center">
              <a
                href="https://gather.town/app/DFTVbEKL9uOLySQD/onair2021"
                target="_blank"
                class="link"
                ><img
                  class="ct-img"
                  src="../../assets/img/gather.png"
                  alt="gather"
                />
                https://gather.town/app/DFTVbEK...
                <mat-icon class="icon">launch</mat-icon>
              </a>
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-card-container">
      <mat-card-title-group>
        <mat-card-title>Vol. 2 Day 2 Stream</mat-card-title>
        <mat-card-subtitle>Youtube Live Stream</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content class="card-content">
        <div class="ct-container">
          <div class="center-img">
            <p class="center">
              <a
                href="https://www.youtube.com/watch?v=xu1bG41M8hg"
                target="_blank"
                class="link"
                ><img
                  class="ct-img"
                  src="../../assets/img/stream22.png"
                  alt="stream"
                />
                https://www.youtube.com/watch?v=xu1b...
                <mat-icon class="icon">launch</mat-icon>
              </a>
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-card-container">
      <mat-card-title-group>
        <mat-card-title>Vol. 2 Day 1 Stream</mat-card-title>
        <mat-card-subtitle>Youtube Live Stream</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content class="card-content">
        <div class="ct-container">
          <div class="center-img">
            <p class="center">
              <a
                href="https://www.youtube.com/watch?v=YuHyM88Y_54"
                target="_blank"
                class="link"
              >
                <img
                  class="ct-img"
                  src="../../assets/img/stream21.png"
                  alt="stream"
                />
                https://www.youtube.com/watch?v=YuH...
                <mat-icon class="icon">launch</mat-icon>
              </a>
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-card-container">
      <mat-card-title-group>
        <mat-card-title>Vol. 1 Day 2 Stream</mat-card-title>
        <mat-card-subtitle>Youtube Live Stream</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content class="card-content">
        <div class="ct-container">
          <div class="center-img">
            <p class="center">
              <a
                href="https://www.youtube.com/watch?v=3YjLgjJIZ6o"
                target="_blank"
                class="link"
              >
                <img
                  class="ct-img"
                  src="../../assets/img/stream12.png"
                  alt="stream"
                />
                https://www.youtube.com/watch?v=3YjL...
                <mat-icon class="icon">launch</mat-icon>
              </a>
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-card-container">
      <mat-card-title-group>
        <mat-card-title>Vol. 1 Day 1 Stream</mat-card-title>
        <mat-card-subtitle>Youtube Live Stream</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content class="card-content">
        <div class="ct-container">
          <div class="center-img">
            <p class="center">
              <a
                href="https://www.youtube.com/watch?v=MvDvzBXBGP4"
                target="_blank"
                class="link"
              >
                <img
                  class="ct-img"
                  src="../../assets/img/stream11.png"
                  alt="stream"
                />
                https://www.youtube.com/watch?v=MvDv...
                <mat-icon class="icon">launch</mat-icon>
              </a>
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
