<div class="page">
  <div class="text-container">
    <h2 class="sub-head">SOS Proposals</h2>
    <mat-accordion class="accordion" multi="true">
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title
            >1 - Restructuring of the Code of Conduct</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p class="panel-content">
          Proposed by Pedro Gonzalez and Patrick Peeck
          <br />
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/proposals/Proposal - Restructuring of CoC .pdf"
            >Restructuring of the Code of Conduct
            <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title
            >2 - Making Digital National Assembly permanently
            possible</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p class="panel-content">
          Proposed by the Audit Board
          <br />
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/proposals/Proposal - Making Digital National Assembly permanently possible.pdf"
            >Making Digital National Assembly permanently possible
            <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>3 - Editorial changes to our SOS</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          Proposed by the Audit Board
          <br />
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/proposals/Proposal - Editorial changes to our SOS.pdf"
            >Editorial changes to our SOS
            <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title
            >4 - Timeframe of the Section Consultation
            Procedures</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p class="panel-content">
          Proposed by the National Board
          <br />
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/proposals/Consultation Order - Proposal.pdf"
            >Timeframe of the Section Consultation Procedures
            <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title
            >5 - Calculation of the membership fee</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p class="panel-content">
          Proposed by the National Board
          <br />
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/proposals/Proposal - Calculation of the Membership Fee_12-2.pdf"
            >Calculation of the membership fee (version from 12.2. 14:30 CET)
            <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
        <br />
        <div class="left">
          <h3>Calculator</h3>
          <app-mem-ship-fee-calc></app-mem-ship-fee-calc>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title
            >6 - Limitation of the group of persons eligible for the vote
            delegations</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p class="panel-content">
          Proposed by ESN TU Dresden
          <br />
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/proposals/Proposal ESN TU Dresden.pdf"
            >Limitation of the group of persons eligible for the vote
            delegations <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <h2 class="sub-head">Cash Audit Report</h2>
    <mat-accordion class="accordion" multi="true">
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>Kassenprüfungsbericht 2019/20</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          By Cash Auditors Niklas Scheidtmann and Viktoria Schwarz <br />
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/kassenberichtESNGer.pdf"
            >Report <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <h2 class="sub-head">Applications National Board Positions</h2>
    <mat-accordion class="accordion" multi="true">
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>1 - President</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/President_ESN CV_Thomas Moch.pdf"
            > -->
          Thomas Moch CV
          <!-- <mat-icon class="icon">launch</mat-icon></a -->
          <!-- > -->
        </p>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/President_Motivational Letter_Thomas Moch.pdf"
            > -->
          Thomas Moch Motivation Letter
          <!-- <mat-icon class="icon">launch</mat-icon></a -->
          <!-- > -->
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>2 - Vice President</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Vice-President_Nikolas Herr_ESN CV.pdf"
            > -->
          Nikolas Herr CV
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Vice-President_Nikolas Herr_Motivation Letter.pdf"
            > -->
          Nikolas Herr Motivation Letter
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Vice-President_Nikolas Herr_Recommendation Letter.pdf"
            > -->
          Nikolas Herr Recommendation Letter
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Vice-President_Juliane Wachsmann_ESN CV.pdf"
            > -->
          Juliane Wachsmann CV
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Vice-President_Juliane Wachsmann_Motivation Letter.pdf"
            > -->
          Juliane Wachsmann Motivation Letter
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>3 - Treasurer</mat-panel-title>
        </mat-expansion-panel-header>
        <!-- <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Vice-President_Nikolas Herr_ESN CV.pdf"
            >Niklas Scheidtmann CV <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
        <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Vice-President_Nikolas Herr_ESN CV.pdf"
            >Niklas Scheidtmann Motivation Letter
            <mat-icon class="icon">launch</mat-icon></a
          >
        </p> -->
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>4 - PR Manager</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Vice-President_Nikolas Herr_ESN CV.pdf"
            >Nikolaus Herr CV <mat-icon class="icon">launch</mat-icon></a -->
          <!-- > -->
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>5 - National Representative</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Application NR_Marion Reckmann.pdf"
            > -->
          Marion Reckmann CV & Motivation Letter
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>6 - Education Officer</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/EO_Johanna Trosien_ESN CV.pdf"
            > -->
          Johanna Trosien CV
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/EO_Johanna Trosien_Motivation Letter.pdf"
            > -->
          Johanna Trosien Motivation Letter
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>7 - Event Manager</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/EM_Milan Grigull_ESN CV.pdf"
            > -->
          Milan Grigull CV
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/EM_Milan Grigull_Motivation Letter.pdf"
            > -->
          Milan Grigull Motivation Letter
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>8 - Partnership Manager</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/PM_Baschi Alzanbekova_ESN CV.pdf"
            > -->
          Baschi Alzanbekova CV
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/PM_Baschi Alzanbekova_Motivation Letter.pdf"
            > -->
          Baschi Alzanbekova Motivation Letter
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>9 - Webmaster</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Application Webmaster ESN Germany-Mandate2.pdf"
            > -->
          Christian Gmeiner CV & Motivation Letter
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>10 - Vice National Representative</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          <!-- <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Vice-NR_Leon Hill_ML+CV+Recommendation Letter.pdf"
            > -->
          Leon Hill CV & Motivation Letter & Recommendation Letter
          <!-- <mat-icon class="icon">launch</mat-icon></a
          > -->
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- <h2 class="sub-head">Reports</h2>
    <mat-accordion class="accordion" multi="true">
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title
            >Rechenschaftsberichte Audit Board 2019</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Rechenschaftsbericht_Grieshaber_Financial Audit_2019_20.docx.pdf"
            >Katharina Grieshaber <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
        <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Rechenschaftsbericht_Lehmann_Main Chair_2019_20.pdf"
            >Steffen Lehmann <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
        <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Rechenschaftsbericht_Steinhäuser_Legal Audit_2019_20.pdf"
            >Carolin Steinhäuser <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
        <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Rechenschaftsbericht_Wojciechowska_Legal Audit_2019_20.pdf"
            >Monika Wojciechowska <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
      </mat-expansion-panel>
    </mat-accordion> -->
  </div>
  <app-footer></app-footer>
</div>
