<div class="page">
  <div class="text-container">
    <div *ngFor="let item of documentsItemList; let i = index">
      <h2 class="sub-head" *ngIf="i < 3">
        {{ item.category }}
      </h2>
      <mat-accordion class="accordion" multi="true">
        <mat-expansion-panel class="expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item.Title }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="i <= 1">
            <p class="panel-content">
              <markdown [data]="item.contentText"></markdown>
            </p>
          </div>
          <div *ngIf="i >= 2">
            <p class="panel-content">
              <markdown [data]="item.contentText"></markdown>
              <br />
              <a
                target="_blank"
                class="panel-link"
                href="https://strapi.esn-germany.de{{ item.contentFile.url }}"
                >Open <mat-icon class="icon">launch</mat-icon></a
              >
            </p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <app-footer></app-footer>
</div>
