.page {
  padding: 64px 0 0 0;
  font-family: Lato;
  background: var(--background);
}

h1,
h2 {
  color: var(--primary-text);
}

.text-container {
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
}

.accordion {
  padding-top: 32px;
}

.expansion {
  margin: 0 auto;
}

.panel-content,
.sub-head {
  text-align: left;
}

.mat-expansion-panel,
.mat-card,
.mat-card-subtitle {
  color: var(--primary-text);
  background: var(--background-card);
}

.mat-panel-title,
.mat-expansion-panel-header-title {
  color: var(--primary-text);
}

.sub-head {
  margin-top: 64px;
}

.panel-link {
  text-decoration: none;
  margin-left: 18px;
  color: var(--link);
}

.panel-container {
  overflow: auto;
}

.panel-img {
  float: left;
}

.left {
  text-align: left;
}

.panel-img img {
  display: block;
}

.panel-img a {
  margin-left: 24px;
}

.icon {
  font-size: 14px;
  vertical-align: -2px;
}

@media screen and (max-width: 600px) {
  .page {
    padding-top: 128px;
  }
  .text-container {
    max-width: 90%;
  }
}
