<div class="page">
  <div class="text-container">
    <h2 class="sub-head">SOS Proposals</h2>
    <!-- <mat-accordion class="accordion" multi="true"> -->
    <!-- <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title
            >SOS Proposal 1: Regional Coordinator Spots for NAs</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Regional Coordinator Spots for NAs.pdf"
            >Regional Coordinator Spots for NAs
            <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>SOS Proposal 2: Removal of AGM</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Proposal - Removal of AGM.pdf"
            >Removal of AGM <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
      </mat-expansion-panel> -->
    <!-- </mat-accordion> -->
    <h2 class="sub-head">Applications National Board Positions</h2>
    <br />
    <br />
    <br />
    <br />
    <!--<mat-accordion class="accordion" multi="true">
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>Approval of National Budget 2021</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Budget 2021.pdf"
            >Budget 2021 <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
      </mat-expansion-panel>
    </mat-accordion> -->
    <!-- <h2 class="sub-head">Reports</h2>
    <mat-accordion class="accordion" multi="true">
      <mat-expansion-panel class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title
            >Rechenschaftsberichte Audit Board 2019</mat-panel-title
          >
        </mat-expansion-panel-header>
        <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Rechenschaftsbericht_Grieshaber_Financial Audit_2019_20.docx.pdf"
            >Katharina Grieshaber <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
        <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Rechenschaftsbericht_Lehmann_Main Chair_2019_20.pdf"
            >Steffen Lehmann <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
        <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Rechenschaftsbericht_Steinhäuser_Legal Audit_2019_20.pdf"
            >Carolin Steinhäuser <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
        <p class="panel-content">
          <a
            target="_blank"
            class="panel-link"
            href="../../assets/pdf/Rechenschaftsbericht_Wojciechowska_Legal Audit_2019_20.pdf"
            >Monika Wojciechowska <mat-icon class="icon">launch</mat-icon></a
          >
        </p>
      </mat-expansion-panel>
    </mat-accordion> -->
  </div>
  <app-footer></app-footer>
</div>
