.page {
    padding: 64px 14px 0;
    font-family: Lato;
}

.vid-container {
    margin: 0 auto;
}

.vid-container iframe {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .vid-container iframe {
        width: 100%;
        height: 100%;
    }
}
