<div class="page">
  <div class="vid-container">
    <iframe
      width="1100"
      height="667"
      src="https://www.youtube.com/embed/FqZCc7TSB_U"
      frameborder="0"
      allowfullscreen
      >This browser does not support iframe.</iframe
    >
  </div>
  <div class="tabs-container">
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
      <mat-tab label="Live Agenda" class="mat-tab contain">
        <app-agenda-explorer></app-agenda-explorer>
      </mat-tab>
      <mat-tab label="Socialise">
        <div class="guide" style="text-align: center">
          <h3>Meet the other listeners!</h3>
          <p>
            Discord Server
            <a
              href="https://discordapp.com/invite/8yjMYMA"
              target="_blank"
              class="footer-link link"
              >ESN GERmany Corona Shelter</a
            >
          </p>
          <p>In person (in Bayreuth)</p>
          <p>...</p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <app-footer></app-footer>
</div>
