.page {
    padding: 64px 0 0 0;
    font-family: Lato;
}

.vid-container {
    margin: 0 auto;
}

.vid-container iframe {
    display: block;
    margin: 0 auto;
}

.tabs-container {
    margin: 0 auto;
    margin-top: 32px;
    display: block;
    text-align: center;
}

.agenda-card {
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 2px;
    max-width: 600px;
    min-width: 450px;
    background: #fcfcfc;
    text-align: left;
}

.live {
    color: red;
}

.not-live {
    padding-left: 32px;
}

.footer-container {
    // display: inline-block;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    margin-top: 24px;
    clear: both;
    min-height: 96px;
    width: 100%;
    background:  #fcfcfc;
    text-align: center;
    font-family: Lato;
    overflow: hidden;
  }
  
  .footer-text {
    margin-top: 0;
  }
  
  .footer-link {
    text-decoration: none;
  }  

@media screen and (max-width: 600px) {
    .page {
        padding-top: 128px;
    }
    .vid-container iframe {
        width: 100%;
    }

    .card-mobile-title {
        font-size: 20px !important;
    }
}
