<div *ngIf="(currentItem | async)?.start">
    <p class="pre-title">
        <mat-icon class="icon live">live_tv</mat-icon> Live
    </p>
    <mat-card class="agenda-card live-card">
        <mat-card-title class="not-live card-mobile-title title">
            {{ (currentItem | async)?.start | date: 'shortTime' }} to
            {{ (currentItem | async)?.end | date: 'shortTime' }}: <b>{{ (currentItem | async)?.topic }}</b>
        </mat-card-title>
        <mat-card-subtitle class="not-live">Speaker: {{ (currentItem | async)?.speaker }}</mat-card-subtitle>
        <mat-card-subtitle class="not-live">Type: {{ (currentItem | async)?.type }}</mat-card-subtitle>
    </mat-card>
</div>
    <div *ngIf="(nextItem | async)?.start">
        <p class="pre-title">Next up</p>
        <mat-card class="agenda-card">
            <mat-card-title class="not-live card-mobile-title title">{{ (nextItem | async)?.start | date: 'shortTime' }}
                to
                {{ (nextItem | async)?.end | date: 'shortTime' }}: <b>{{ (nextItem | async)?.topic }}</b>
            </mat-card-title>
            <mat-card-subtitle class="not-live">Speaker: {{ (nextItem | async)?.speaker }}</mat-card-subtitle>
            <mat-card-subtitle class="not-live">Type: {{ (nextItem | async)?.type }}</mat-card-subtitle>
        </mat-card>
    </div>
    <div *ngIf="(secondNextItem | async)?.start">
        <mat-card class="agenda-card">
            <mat-card-title class="not-live card-mobile-title title">
                {{ (secondNextItem | async)?.start | date: 'shortTime' }} to
                {{ (secondNextItem | async)?.end | date: 'shortTime' }}: <b>{{ (secondNextItem | async)?.topic }}</b>
            </mat-card-title>
            <mat-card-subtitle class="not-live">Speaker: {{ (secondNextItem | async)?.speaker }}</mat-card-subtitle>
            <mat-card-subtitle class="not-live">Type: {{ (secondNextItem | async)?.type }}</mat-card-subtitle>
        </mat-card>
    </div>
<div class="link-container">
    <a class="link"
        href="https://docs.google.com/spreadsheets/d/1j7_Y8NRuIQz_8qB53evqqEN_G_rr0rbWiS80LnvK4dU/edit#gid=1221187808"
        target="_blank">>> Open full agenda << </a>
</div>