<div class="agenda-contain">
  <div *ngIf="(currentItem | async)?.start">
    <p class="pre-title"><mat-icon class="live">live_tv</mat-icon> Live</p>
    <mat-card class="agenda-card live-card">
      <mat-card-subtitle class="not-live"
        >{{ (currentItem | async)?.start | date: 'shortTime' }} to
        {{ (currentItem | async)?.end | date: 'shortTime' }}</mat-card-subtitle
      >
      <mat-card-title class="not-live card-mobile-title title"
        ><b>{{ (currentItem | async)?.topic }}</b>
      </mat-card-title>
      <mat-card-subtitle class="not-live"
        >Speaker: {{ (currentItem | async)?.speaker }}</mat-card-subtitle
      >
      <mat-card-subtitle class="not-live"
        >Type: {{ (currentItem | async)?.type }}</mat-card-subtitle
      >
    </mat-card>
  </div>
  <div *ngIf="(nextItem | async)?.start">
    <p class="pre-title">Next up</p>
    <mat-card class="agenda-card">
      <mat-card-subtitle class="not-live"
        >{{ (nextItem | async)?.start | date: 'shortTime' }}
        to
        {{ (nextItem | async)?.end | date: 'shortTime' }}</mat-card-subtitle
      >
      <mat-card-title class="not-live card-mobile-title title">
        <b>{{ (nextItem | async)?.topic }}</b>
      </mat-card-title>
      <mat-card-subtitle class="not-live"
        >Speaker: {{ (nextItem | async)?.speaker }}</mat-card-subtitle
      >
      <mat-card-subtitle class="not-live"
        >Type: {{ (nextItem | async)?.type }}</mat-card-subtitle
      >
    </mat-card>
  </div>
  <div *ngIf="(secondNextItem | async)?.start">
    <mat-card class="agenda-card">
      <mat-card-subtitle class="not-live"
        >{{ (secondNextItem | async)?.start | date: 'shortTime' }} to
        {{
          (secondNextItem | async)?.end | date: 'shortTime'
        }}</mat-card-subtitle
      >
      <mat-card-title class="not-live card-mobile-title title"
        ><b>{{ (secondNextItem | async)?.topic }}</b>
      </mat-card-title>
      <mat-card-subtitle class="not-live"
        >Speaker: {{ (secondNextItem | async)?.speaker }}</mat-card-subtitle
      >
      <mat-card-subtitle class="not-live"
        >Type: {{ (secondNextItem | async)?.type }}</mat-card-subtitle
      >
    </mat-card>
  </div>
  <div class="link-container">
    <a
      class="agenda-link"
      href="https://docs.google.com/spreadsheets/d/1FdwFeTNmr-47KpY4hMvKBNqDMfgg88eEk9zb-crCDt0/edit#gid=1496817579"
      target="_blank"
      ><img
        id="agenda-img"
        class="icon cal"
        src="../../../assets/icons/calendar-month.png"
        alt="calendar-month-icon"
        width="19"
      />
      Open full agenda</a
    >
  </div>
</div>
