@import "../../../styles.scss";

.tabs-container {
    margin: 0 auto;
    margin-top: 32px;
    display: block;
    text-align: center;
}

.agenda-card {
    display: block;
    margin: 0 auto;
    min-width: 40%;
    max-width: 650px;
    background: #fcfcfc;
    text-align: left;
}

.live-card {
    margin-bottom: 64px;
}

.pre-title {
    min-width: 40%;
    max-width: 650px;
    text-align: left;
    color: $text-gray;
    margin: 0 auto;
    margin-top: 24px;
}

.live {
    color: red;
    vertical-align: bottom;
}

.title {
    font-size: 19px;
    margin-bottom: 24px;
}

.live-placeholder {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.not-live {
    padding-left: 24px;
}

.link-container {
    margin-top: 48px;
    margin-bottom: 32px;
}
.link {
    text-decoration: none;
}
