<body>
  <div class="app-container">
    <div class="topnav">
      <div class="topnav-centered">
        <a routerLink="/" routerLinkActive="active"
          ><img
            alt="ESN Star"
            width="28"
            class="icon"
            src="assets/logo/ESN-star-RGB.png"
          />oN Air Vol. 2</a
        >
        <a routerLink="/live" routerLinkActive="active">Live</a>
        <a routerLink="/voting" routerLinkActive="active">Voting Status</a>
        <a routerLink="/documents" routerLinkActive="active">Documents</a>
        <a routerLink="/imprint" routerLinkActive="active">Imprint</a>
        <a
          class="darkMode topnav-right"
          id="toggleButton"
          (click)="toggleTheme()"
          >Dark mode</a
        >
      </div>
    </div>
  </div>
</body>

<router-outlet></router-outlet>
