@import '../styles.scss';

/* Fonts */
@font-face {
  font-family: 'Kelson';
  src: url('../assets/fonts/KelsonSans-Normal.otf');
  font-style: normal;
  font-weight: 500;
}

/* styles */
body {
  font-family: Kelson;
}
.page {
  padding: 64px 14px 0;
  margin: 0;
  background: var(--background);
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

.topnav {
  position: relative;
  background: var(--background-navbar);
  overflow: hidden;
  border-bottom: 2px $esn-pink solid;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.topnav a {
  float: left;
  color: $text-gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-centered a {
  line-height: 2em;
}

.topnav a:hover {
  color: $text-white;
}

.topnav a.active {
  color: $text-white;
}

.icon {
  padding-right: 14px;
  vertical-align: -7px;
}

.icon-right {
  vertical-align: -2px;
}

.topnav-right {
  padding-left: 0 !important;
}

.darkMode {
  float: right !important;
}

.darkMode:hover {
  cursor: pointer;
}

.display-on-large {
  display: block;
}

.display-burger {
  display: none;
  float: right;
  margin: 16px 16px 0 16px;
}

.menu {
  background: #f98;
  // color: '#fff';
  border: '3px solid #f98';
  border-radius: 4px;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

#burger {
  width: 3rem;
  height: 3.5rem;
}

.footer-container {
  // display: inline-block;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  clear: both;
  overflow: hidden;
  min-height: 96px;
  width: 100%;
  background: var(--background-footer);
  text-align: center;
  font-family: Lato;
}

.footer-text {
  margin-top: 0;
  color: var(--footer-text);
}

.footer-link {
  text-decoration: none;
}

@media screen and (max-width: 714px) {
  // .display-on-large {
  //   display: none;
  // }

  // .display-burger {
  //   display: block;
  // }
  .topnav a,
  .topnav-right {
    padding: 4px 8px;
  }

  // .topnav-centered a {
  //   position: relative;
  //   top: 0;
  //   left: 0;
  //   transform: none;
  // }
}
