<div class="page">
    <div class="container">
        <h2>Audit Board Elections</h2>
        <div class="diagram-container">
            Diagram with voting results...
        </div>
    </div>
    <div class="container">
        <h2>Release of the NB 2019/20</h2>
        <div class="diagram-container"></div>
    </div>
    <div class="container">
        <h2>SOS Changes</h2>
        <div class="diagram-container"></div>
    </div>
    <div class="container">
        <h2>Action Plan 2020/21</h2>
        <div class="diagram-container"></div>
    </div>
    <div class="container">
        <h2>Budget 2020/21</h2>
        <div class="diagram-container"></div>
    </div>
    <div class="container">
        <h2>ISA Saarbrücken Application Full Membership</h2>
        <div class="diagram-container"></div>
    </div>
    <div class="container">
        <h2>LEI Konstanz Application Candidate Section</h2>
        <div class="diagram-container"></div>
    </div>
    <div class="container">
        <h2>Gemini Pforzheim Application Candidate Section</h2>
        <div class="diagram-container"></div>
    </div>
</div>