<div class="page">
  <div class="text-container">
    <h1>Imprint</h1>
    <p>
      This app was created by students for the Erasmus Student Network Germany
      e.V. For all questions you can reach our team at
      <a class="link" href="mailto:webmaster@esn-germany.de"
        >webmaster@esn-germany.de</a
      >. Development is handled primarily by volunteer students and is publicly
      visible on Github, where you can also see the entire source code for this
      application.
      <br />
    </p>
    <h2>
      Coordination of ESN Germany e.V.
    </h2>
    <h4>
      Vertretungsberechtigter Vorstand
    </h4>
    <p>
      Erster Vorstand: Pedro González, ESN Karlsruhe
      <br />
      Zweiter Vorstand: Jona Winstroth, ESN Düsseldorf
      <br />
      Finanzvorstand: Luís Ribeiro Henriques, ESN Göttingen
      <br />
      <a class="link" href="mailto:board@esn-germany.de"
        >board@esn-germany.de</a
      >
      <br />
    </p>
    <h4>Postal Address</h4>
    <p>
      c/o International Office
      <br />
      Ruhr Universität Bochum
      <br />
      Universitätsstraße 150
      <br />
      44780 Bochum
      <br />
      Germany
    </p>
    <h2>Privacy Policy</h2>
    <p>
      Data being collected from all users of the website
      <br />
      For technical purposes, data such as IP address, browser version, default
      language and window size are stored temporarily.
      <br />
      Data being collected from registered users of the website
      <br />
      Access according to GDPR article 15: Any user may at any time request
      information about collected personal data concerning the user.
      <br />
      Rectification according to GDPR article 16: Any user may at any time
      request the correction of personal data concerning the user.
      <br />
      Erasure according to GDPR article 17: Any user may at any time request
      personal data concerning the user to be deleted.
    </p>
  </div>
  <app-footer></app-footer>
</div>
