@import '../../styles.scss';

.page {
  padding: 64px 0 0 0;
  font-family: Lato;
  background: var(--background);
}

.card-container {
  margin: 16px auto;
  min-height: 40px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  margin: 16px;
  min-width: 330px;
}

.elections {
  display: flex;
  flex-direction: column;

  .result {
    margin-bottom: 3rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.results {
  p,
  h4 {
    margin: 0;
  }
  p {
    background: lightblue;
    padding: 0 4px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
}

.content-text {
  padding: 16px;
}

.mat-card,
.card,
.mat-card-subtitle {
  color: var(--primary-link) !important;
  background: var(--background-card);
}

.link {
  text-decoration: none;
  color: var(--link);
}

.content-left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  // text-align: center;
  // margin: auto;
  // padding-top: 32px;
}

.divider {
  padding-left: 8px;
}

.diagram-container {
  background: #eee;
  border: 1px solid black;
  padding: 4px;
}

.mat-progress-bar.mat-accent,
.mat-progress-bar-background {
  fill: #eee !important;
}

@media screen and (max-width: 600px) {
  .page {
    padding-top: 128px;
  }

  .card-container {
    flex-direction: column;
    width: 90%;
    max-width: 100%;
  }

  .card {
    margin: 4px 0;
    width: 90%;
    min-width: 0;
  }
}
