<div class="page">
    <div class="card-container">
        <mat-card class="card">
            <mat-card-title>How does the voting procedure work?</mat-card-title>
            <mat-card-content class="content">
                <div class="content-left">
                    <mat-icon class="center">info</mat-icon>
                </div>
                <mat-divider [vertical]="true" class="divider"></mat-divider>
                <p class="content-text">Voting is reserved for those with a <b>vote delegation</b>. We start with a quorum
                    check on Saturday morning and you will receive an email with a link to the voting platform <a
                        href="https://vote.esn-germany.de" target="_blank" class="link">vote.esn-germany.de</a>.
                    You will receive the vote invitation and all instructions via email and below you find the results.</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card-container">
        <mat-card class="card elections">
            <mat-card-title-group>
                <mat-card-title>Election status</mat-card-title>
                <mat-card-subtitle>Last updated at {{lastUpdate$|async|date:'mediumTime'}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
                <p>Hint: Pink elections are still in progress</p>
                <div *ngFor="let result of results$ | async; trackBy: trackById" class="result">
                    <h2>{{result.name}} <small style="color: gray">{{result.vote}} of {{result.total}} votes
                        cast</small></h2>
                    <mat-progress-bar mode="determinate" [value]="result.progress"
                                      [color]="result.active?'accent':'primary'"
                                      style="height: 1rem;"></mat-progress-bar>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="footer-container">
        <div>
            <a href="https://esn-germany.de/" alt="ESN Germany" target="_blank"><img id="footer-img" height="96px" src="../assets/logo/DE_colour-white.png" alt="ESN Germany Logo"></a>
            <p class="footer-text">© IT-Team ESN Germany e.V.</p>
        </div>
    </div>
</div>
