/* ESN colors */
$esn-blue: #00aeef;
$esn-green: #7ac143;
$esn-pink: #ec008c;
$esn-orange: #f47b20;

/* Text colors */
$text-white: #f3f3f3;
$text-gray: #9c9c9c;
$text-black: #010101;
$bg-white: #fcfcfc;
