<div class="page">
  <div class="img-container">
    <img
      src="../../../assets/logo/na-logo.png"
      alt="On Air Logo"
      width="320px"
    />
  </div>
  <div class="text-container">
    <h1>Welcome to the Online National Assembly Vol. 3 <br />of ESN Germany</h1>
    <h2>13th - 14th February 2021</h2>
  </div>
  <div class="card-container">
    <h2>To Do List</h2>
    <mat-accordion multi="true" class="accordion-container">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Register as a participant (until 6th February 2021, 23:59 CEST).
        </mat-expansion-panel-header>
        <div class="panel-content">
          <p>
            Use this link:
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLScJadsCgwhVgu37kNHGvyg9qMbgq0Ksjht3ZJjuJ520W8QkqA/viewform"
              target="_blank"
              class="link"
              >Take me there!</a
            >
          </p>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Send your vote delegation (until 8th February 2021, 23:59 CEST)
        </mat-expansion-panel-header>
        <div class="panel-content">
          <p>
            Send the following text to
            <a
              href="mailto:np-chair@esn-germany.de"
              target="_blank"
              class="link"
              >np-chair@esn-germany.de</a
            >:
          </p>
          <i
            >"I, [Name of the section president/local representative], president
            of ESN [Name of the section], delegate our vote for each and every
            vote that will occur during the National Assembly "oN Air Vol. 3"
            from the 13th-14th of February, 2021, to [Name of the delegate],
            [Member's position], [Member's Email Address] of ESN [Name of the
            Section]."</i
          >
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Make an SOS proposal (until 6th February 2021, 23:59 CEST)
        </mat-expansion-panel-header>
        <div class="panel-content">
          <p>
            Use this
            <a
              href="https://docs.google.com/document/d/1L7YlkLP5hwHJNa-YFVf94PcyeV7kQEnbiiafll9G6e0/edit"
              target="_blank"
              class="link"
              >template</a
            >
            and hand in your SOS proposal by sending it via email to the CT (<a
              href="mailto:np-chair@esn-germany.de"
              target="_blank"
              class="link"
              >np-chair@esn-germany.de</a
            >) <b>and</b> the NB (<a
              href="mailto:board@esn-germany.de"
              target="_blank"
              class="link"
              >board@esn-germany.de</a
            >).
          </p>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Join the social media channels!
        </mat-expansion-panel-header>
        <div class="panel-content">
          <p>
            <img
              class="panel-content-icon"
              width="17"
              src="../../assets/logo/whatsapp.png"
              alt="whatsapp"
            />
            WhatsApp spam group:
            <a
              href="https://chat.whatsapp.com/KWjUaCqntfYACsal5Enw96"
              target="_blank"
              class="link"
              >Take me there!</a
            >
          </p>
          <p>
            <img
              class="panel-content-icon"
              width="17"
              src="../../assets/logo/slack.png"
              alt="slack"
            />
            onAirSlack:
            <a
              href="https://join.slack.com/share/zt-i28jayiu-VvkHInN7Cqk3yF6TRMEhmQ"
              target="_blank"
              class="link"
              >Take me there!</a
            >
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- <h2>Quick Links</h2> -->
    <mat-card class="mat-card-container">
      <mat-card-title-group>
        <mat-card-title>Chairing Team</mat-card-title>
        <mat-card-subtitle
          >Coordination, Minutes & Moderation</mat-card-subtitle
        >
      </mat-card-title-group>
      <mat-card-content class="card-content">
        <div class="ct-container">
          <div class="center-img">
            <h3>Theo Whitwill</h3>
            <p>Main Chair</p>
            <img
              class="ct-img"
              src="../../assets/img/Theo.jpg"
              alt="Theo Whitwill"
            />
            <h3>ESN FHNW (Switzerland)</h3>
          </div>
          <p>
            Hi, I'm Theo and I will (hopefully) be your Main Chair. I currently
            work for the International Office at a "Fachhochschule" in
            Switzerland and I've been in ESN since 2013 and have been active on
            the local (ESN FHNW), national (ESN Switzerland) and international
            level. Since this is actually the first statutory event that I'm
            chairing I hope this means I'll be able to perfectly mix experience
            with the motivation and freshness of a newbie! I'm a huge Star Wars
            and Liverpool FC fan and love playing DSA (Das Schwarze Auge) in my
            free time! Feel free to approach me in English, German or Swiss
            German about any concern or if you just want to chit-chat. See you
            soon!
          </p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="ct-container">
          <h3>Božo Tadić</h3>
          <p>Vice Chair</p>
          <img
            class="ct-img"
            src="../../assets/img/Bozo.png"
            alt="Božo Tadić"
          />
          <h3>ESN Osijek (Croatia)</h3>
          <p>
            Hello there, my name is Božo and I will be the Vice-Chair (still
            hopefully) of the upcoming and potentially last online NA. I have
            been speedrunning my ESN experience and despite already being active
            on the international level, I have yet to formally hold a position
            on the national level for a whole mandate. Same as with my wonderful
            CT boss, this is the first time I am chairing an ESN event so be
            gentle. Ok, that’s a lie instead do hit us (in Joker's voice ) with
            your NA suggestions as we want to make it the best there ever was.
          </p>
        </div>
        <!-- <mat-divider [vertical]="true"></mat-divider>
        <div class="ct-container">
          <h3>Jona Winstroth</h3>
          <p>Speakers List Assistant</p>
          <img class="ct-img" src="../../assets/img/jona.jpg" alt="jona" />
          <p>ESN Düsseldorf</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="ct-container">
          <h3>Pedro Gonzalez</h3>
          <p>Speakers List Assistant</p>
          <img class="ct-img" src="../../assets/img/pedro.jpg" alt="pedro" />
          <p>ESN Kerlsruhe</p>
        </div> -->
      </mat-card-content>
    </mat-card>
    <h2>For Presenters</h2>
    <mat-accordion multi="true" class="accordion-container">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          How to prerecord a presentation
        </mat-expansion-panel-header>
        <div class="panel-content">
          <a
            class="link"
            href="../../assets/pdf/How-To-Presentation.pdf"
            target="_blank"
            >Link to Guide <mat-icon class="icon">launch</mat-icon></a
          >
          <br />
          <a
            class="link"
            href="https://drive.google.com/open?id=1goYsWyRH01f3BfSXn9_OxX8Nbq8xHzn7j5HcRZl9N5w"
            target="_blank"
            >Link to Presentation Template
            <mat-icon class="icon">launch</mat-icon></a
          >
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <app-footer></app-footer>
  </div>
</div>
