@import "../../styles.scss";

.page {
    padding: 64px 0 0 0;
    font-family: Lato;
    background: var(--background);
}

h1, h2 {
    color: var(--primary-text);
}

.img-container {
    margin: 0 auto;
}

.img-container img {
    display: block;
    margin: 0 auto;
}

.text-container {
    margin: 0 auto;
    padding-top: 16px;
    max-width: 80%;
    text-align: center;
}

.card-container {
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 32px;
    max-width: 60%;
    display: block;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-container {
    clear: both;
    min-height: 96px;
    width: 100%;
    background: var(--background-footer);
    text-align: center;
    font-family: Lato;
    overflow: hidden;
}

.footer-text {
    margin-top: 0;
    color: var(--footer-text);
}

.link {
    text-decoration: none;
    color: var(--link);
}

.ct-container {
    margin: 0 auto;
    padding: 0 32px;
}

.accordion-container {
    display: block;
    margin-top: 16px;
    margin-bottom: 64px;
}

.panel-content {
    margin-left: 18px;
}

.mat-expansion-panel, .mat-card, .mat-card-subtitle {
    color: var(--primary-text);
    background: var(--background-card);
}

.panel-content-icon {
    vertical-align: middle;
}

.img {
    line-height: 2em;
}

.ct-img {
    max-width: 100%;
}

.icon {
    font-size: 14px;
    vertical-align: -2px;
}

.mat-card-container {
    margin-bottom: 64px;
}

@media screen and (max-width: 1200px) {
    .page {
        padding-top: 128px;
    }
    .img-container img {
        width: 60%;
        height: 100%;
    }

    .card-container,
    .card-content {
        flex-direction: column;
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
    }

    .card {
        margin: 4px 0;
        width: 90%;
        min-width: 0;
    }
}
