<div class="page">
  <div class="img-container">
    <img
      src="https://strapi.esn-germany.de{{
        mainInfoItem.frontImage.formats.medium.url
      }}"
      alt="On Air Logo"
      width="320px"
    />
  </div>
  <div class="text-container">
    <h1>
      {{ mainInfoItem.welcomeMessage }} <br />
      <br />
      {{ mainInfoItem.naTitle }}
      <br />
    </h1>
    <h2>{{ mainInfoItem.date }}</h2>
  </div>
  <div class="card-container">
    <h2>To Do List</h2>
    <mat-accordion multi="true" class="accordion-container">
      <mat-expansion-panel class="mep" *ngFor="let todo of todoItemList">
        <mat-expansion-panel-header>
          <p *ngIf="todo.active">{{ todo.title }}</p>
          <s *ngIf="!todo.active">{{ todo.title }}</s>
        </mat-expansion-panel-header>
        <div class="panel-content">
          <markdown [data]="todo.text"></markdown>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-card class="mat-card-container" *ngIf="mainInfoItem.mainChairName">
      <mat-card-title-group>
        <mat-card-title>Chairing Team</mat-card-title>
        <mat-card-subtitle
          >Coordination, Minutes & Moderation</mat-card-subtitle
        >
      </mat-card-title-group>
      <mat-card-content class="card-content">
        <div class="ct-container">
          <div class="center-img">
            <h3>{{ mainInfoItem.mainChairName }}</h3>
            <p>Main Chair</p>
            <img
              class="ct-img"
              src="https://strapi.esn-germany.de{{
                mainInfoItem.mainChairImg.formats.medium.url
              }}"
              alt="{{ mainInfoItem.mainChairName }}"
            />
            <h3>{{ mainInfoItem.mainChairSection }}</h3>
          </div>
          <markdown [data]="mainInfoItem.mainChairText"></markdown>
        </div>
        <div class="ct-container">
          <h3>{{ mainInfoItem.viceChairName }}</h3>
          <p>Vice Chair</p>
          <img
            class="ct-img"
            src="https://strapi.esn-germany.de{{
              mainInfoItem.viceChairImg.formats.medium.url
            }}"
            alt="{{ mainInfoItem.viceChairName }}"
          />
          <h3>{{ mainInfoItem.viceChairSection }}</h3>
          <markdown [data]="mainInfoItem.viceChairText"></markdown>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- <h2>For Presenters</h2>
    <mat-accordion multi="true" class="accordion-container">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          How to prerecord a presentation
        </mat-expansion-panel-header>
        <div class="panel-content">
          <a
            class="link"
            href="../../assets/pdf/How-To-Presentation.pdf"
            target="_blank"
            >Link to Guide <mat-icon class="icon">launch</mat-icon></a
          >
          <br />
          <a
            class="link"
            href="https://drive.google.com/open?id=1goYsWyRH01f3BfSXn9_OxX8Nbq8xHzn7j5HcRZl9N5w"
            target="_blank"
            >Link to Presentation Template
            <mat-icon class="icon">launch</mat-icon></a
          >
        </div>
      </mat-expansion-panel>
    </mat-accordion> -->
    <app-footer></app-footer>
  </div>
</div>
