.page {
    padding: 64px 0 0 0;
    font-family: Lato;
}

.img-container {
    margin: 0 auto;
}

.img-container img {
    display: block;
    margin: 0 auto;
}

.text-container {
    margin: 0 auto;
    padding-top: 16px;
    max-width: 80%;
    text-align: center;
}

.card-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 16px;
    min-width: 330px;
}

.footer-container {
    // display: inline-block;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    clear: both;
    min-height: 96px;
    width: 100%;
    background:  #fcfcfc;
    text-align: center;
    font-family: Lato;
    overflow: hidden;
  }
  
  .footer-text {
    margin-top: 0;
  }
  
  .footer-link {
    text-decoration: none;
  }

@media screen and (max-width: 600px) {
    .img-container img {
        width: 60%;
        height: 100%;
    }

    .card-container {
        flex-direction: column;
        width: 90%;
    }
    
    .card {
        margin: 4px 0;
        width: 90%;
        min-width: 0;
    }
}
